In [1]:
import yfinance as yf
import pandas_datareader as pdr
import pandas as pd

In [2]:
# Test tickers: Fingerprint and SAAB

tickers = ['FING-B.ST', 'SAAB-B.ST']

In [3]:
data = yf.download(  # or pdr.get_data_yahoo(...
    # tickers list or string as well
    tickers=tickers,

    # use "period" instead of start/end
    # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
    # (optional, default is '1mo')
    period="max",

    # fetch data by interval (including intraday if period < 60 days)
    # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
    # (optional, default is '1d')
    interval="3mo",

    # group by ticker (to access via data['SPY'])
    # (optional, default is 'column')
    group_by='ticker',

    # adjust all OHLC automatically
    # (optional, default is False)
    auto_adjust=True,

    # download pre/post regular market hours data
    # (optional, default is False)
    prepost=True,

    # use threads for mass downloading? (True/False/Integer)
    # (optional, default is True)
    threads=True,

    # proxy URL scheme use use when downloading?
    # (optional, default is None)
    proxy=None
)

[*********************100%***********************]  2 of 2 completed

In [4]:
data

             SAAB-B.ST                                                  \
                  Open        High         Low       Close      Volume
Date
2000-01-01   41.086881   48.533888   33.126293   44.168407   6857503.0
2000-04-01   44.168391   46.222707   36.207808   38.005337   4139961.0
2000-04-11         NaN         NaN         NaN         NaN         NaN
2000-07-01   41.852239   43.176657   38.408688   40.527817   2820987.0
2000-10-01   40.262928   42.382000   34.170482   41.322464   6987973.0
...                ...         ...         ...         ...         ...
2020-04-01  183.103266  256.549270  175.500360  226.722488  37542160.0
2020-04-02         NaN         NaN         NaN         NaN         NaN
2020-07-01  234.199997  293.600006  229.699997  264.500000  23844983.0
2020-10-01  265.500000  277.899994  203.300003  236.399994  26716781.0
2020-12-04  236.699997  241.800003  236.199997  241.399994    453552.0

             FING-B.ST
                  Open        High        Low       Close       Volume
Date
2000-01-01   47.175143  219.836165  35.853108  121.711868    3854308.0
2000-04-01  135.864413  159.451985  56.610172   68.875710    1045500.0
2000-04-11         NaN         NaN        NaN         NaN          NaN
2000-07-01   75.480225  104.728812  37.834461   80.197739    3463341.0
2000-10-01   81.141246  136.807915   8.038645   10.378531    9979465.0
...                ...         ...        ...         ...          ...
2020-04-01   12.895000   20.370001  12.670000   16.905001  312593626.0
2020-04-02         NaN         NaN        NaN         NaN          NaN
2020-07-01   16.940001   23.980000  13.150000   17.879999  405372318.0
2020-10-01   17.959999   18.520000  14.215000   15.580000  267149326.0
2020-12-04   15.520000   15.820000  15.420000   15.820000    2354856.0

[108 rows x 10 columns]

In [5]:
data.to_csv('datas/tickers.csv')